
@{
    ViewData["Title"] = "Cuisines";
}

<div class="accordion" id="myAcc">
    <div class="card" style="margin-bottom:5px;">
        <div class="card-header" id="headingOne" style="background-color:rgba(220,220,254,1)">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">Local cuisine</button>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAcc" style="background-color: rgba(220,220,254,1)">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="blurb" src="@Url.Content("~/images/location/svsofija_logo.png")" />

                        <h2>Sv.Sofia</h2>
                        <p>
                            "A place with a soul that tells the story of the city
                            for three decades, keeping the beautiful memories of numerous guests who come here to enjoy the unique
                            ambiance and the wonderful atmosphere, complemented with the sounds of Macedonian folk music and top service." - Sv.Sofia Website.<br>
                            <a href="https://restoransvsofija.mk/en_US/">Click Here</a> for Sv.Sofia's website.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="blurb" src="@Url.Content("~/images/location/kaneo_logo.jpg")" />

                        <h2>Kaneo Letna Bavcha</h2>
                        <p>
                            "The restaurant's location lets you enjoy
                            the view of one of the most famous sights in the city-
                            the chirch of St.John Kaneo, where time and space
                            cease to exist once you glance into the lake.
                            The restaurant is famously known for its Ohrid lake
                            plashica, and most recently, it has shifted in
                            focus toward fine dining'."
                            - Kaneo Letna Bavcha's Website<br>
                            <a href="http://kaneorestaurant.com/">Click Here</a> for the Kaneo Letna Bavcha's website.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="blurb" src="@Url.Content("~/images/location/riviera_logo.png")" />

                        <h2>Nova Riviera</h2>
                        <p>
                            "Our high quality Chefs shall satisfy all your gastronomic
                            wishes offering a wide range of traditional and international dishes.
                            The beautifully arranged summer terrace with a capacity of 80 seats it offers
                            a fascinating view of Lake Ohrid."- Nova Riviera's Website.<br>
                            <a href="http://www.novariviera.com.mk/restoran/">Click Here</a> for Nova Riviera's website.
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="blurb" src="@Url.Content("~/images/location/tino_logo.jpg")" />

                        <h2>Hotel Tino</h2>
                        <p>
                            Something to your taste
                            From our buffet breakfast to dinner you will experience show cooking with
                            a multitude of choices that will insure you find something to your taste."- Hotel Tino's Website.<br>
                            <a href="http://www.hoteltino.com.mk/index.php/restaurant">Click Here</a> for Sv.Sofia's website.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card" style="margin-bottom:5px;">
        <div class="card-header" id="headingTwo" style="background-color:lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">Middle Eastern cuisine</button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingThree" data-parent="#myAcc" style="background-color:lightgray">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="blurb" src="@Url.Content("~/images/location/falafel_logo.jpg")" />

                        <h2>Dr.Falafel</h2>
                        <p>
                            "With no sign of a hipster anywhere in sight, this refreshing little kiosk of a place serves falafel,
                            hummus, bread to wrap it in and little else beyond a refrigerator full of soft drinks.
                            There’s a handful of tables inside and out, although the best way to enjoy the food here
                            is to take it away and devour it on the hoof whilst strolling around the Old Bazaar." - Dr.Falafel's website.<br>
                            <a href="https://menus.mk/places/ohrid/dr-falafel/">Click Here</a> for the Dr.Falafel's website
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree" style="background-color: rgba(220,220,254,1)">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">Italian</button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAcc" style="background-color: rgba(220,220,254,1)">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="blurb" src="@Url.Content("~/images/location/leonardo_logo.png")" />

                        <h2>Leonardo</h2>
                        <p>
                            "LEONARDO PIZZERIA

                            From 1991 until today …

                            Over time, LEONARDO has grown into the most visited place of
                            locals, guests from our country and abroad, lovers of delicious pizza prepared with love by top pizza masters,
                            all welcome to Ohrid, a city protected as a UNESCO World Heritage Site." - Leonardo's Website.<br>
                            <a href="https://leonardo.mk/mk/">Click Here</a> for the Blu Ginger website.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

